<h2 class='intro'>Big House Animals
  <br />Which Big House animal are you?? Find out in 2 quick steps!!
</h2>
<h3 class='question'>STEP1: Pick a Big House object that resonates with you the most.</h3>
<div class='container'>

  {{#each elements}}

  <div class="element-list">
    <a href="/{{element}}"><img class="img-circle" src="{{image}}" alt="{{element}}"></a>
  </div>

  {{/each}}
</div>

{{! may need to change alt "element" back to "name" if not working}}